
.mensagem{
    background-color: rgb(199, 240, 199);
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#basic-addon2{
    background-color: rgb(47, 47, 235);
    color: white;
}
.itens{
    padding: 5px;
}
.itens span{
    margin-left: 5px;
}
.item{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.botoes button{
    margin-left: 10px;
}