.principal {
  margin: 10px auto;
  width: 600px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media only screen and (max-width: 362px) {
  .principal {
    margin: 10px auto;
    width: auto;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
body {
  background: #f5f5f5;
}
.navbar {
  display: block;
}
.semTarefas{
  text-align: center;
  font-size: 130%;
}
.home{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 25vh;
}
.home h1{
  font-weight: bold;
  text-shadow: 3px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.home p {
  text-shadow: 1px 1px #558ABB;
}
